
<%- include("partials/header"); -%>

  
  <section>
    <h3> Santuary for Your Mind & Soul </h3>
    <p> <%= startingContent %>  </p>
    
    <% if (!user) { %>
    <a class='getStarted' href='/auth/question'>Get Started > </a>
     <% } %>
   
    <img alt='home' src='<%= homeImg %>' class='image' />

    
  </section>


<%- include("partials/footer"); -%>
 