
<%- include("partials/header"); -%>

  
  <section>
    <h3> Santuary for Your Mind & Soul </h3>
    <p> <%= startingContent %>  </p>
    <div class='nav-links'>
    <a href='/auth/register'>Register</a>
     <a href='/auth/login'>Login</a>
    </div>
    <img alt='home' src='<%= homeImg %>' class='image' />

    
  </section>


<%- include("partials/footer"); -%>
