
<%- include("partials/header"); -%>

  
 <form class='form' action='/auth/login' method='POST'>
      <h2>Login</h2>

      <div >
        <label for="username" class='label'>Enter Your User name</label>
        <input
          id="username"
          name='username'
          type="text"
          class='input'
          
          required
        />
      </div>
      <div >
        <label for="password" class='label'>Enter Your User name</label>
        <input id="password" type="text"  class='input' name='password' required />
      </div>
      <button type="submit">Submit</button>
    </form>


<%- include("partials/footer"); -%>
