
<%- include("partials/header"); -%>
  
<div class='authContainer'>

   <form class='form' action='/auth/login' method='POST'>
      <h2>Login</h2>

      <div >
        <label for="username" class='label'>Enter Your User name</label>
        <input
          id="username"
          name='username'
          type="text"
          class='input'
          
          required
        />
      </div>
      <div >
        <label for="password" class='label'>Enter Your Password</label>
        <input id="password" type="text"  class='input' name='password' required />
      </div>
      <button type="submit">Submit</button>
    </form>

    <a href='/auth/register' class='authAL' >Register</a>

    <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Continue with Google
          </a>
        </div>
      </div>
    </div>

</div>


<%- include("partials/footer"); -%>
