<%- include("partials/header"); -%>

<div class='question'>
    <div class='nav-links'>
        <a href='/auth/register'>Register</a>
        <a href='/auth/login'>Login</a>
    </div>


    <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Continue with Google
          </a>
        </div>
      </div>
    </div>


</div>
<%- include("partials/footer"); -%>
